<a href="https://colab.research.google.com/github/vazquezGustavo/TT-2C2025-Ejercicios-Cuadernos-de-An-lisis-de-Datos/blob/main/Clase2_EP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **1 Estructuras de Datos en Python**
>
>A - Crear una lista llamada numeros que contenga los números del 1 al 10.
>
>B - Crear una tupla llamada meses que contenga los nombres de los 12 meses del año.
>
>C - Crear un diccionario llamado notas con el nombre de tres estudiantes >como claves y sus respectivas notas como valores.
>
>D - Crear un conjunto llamado numeros_unicos con algunos números, asegurándose de que no haya duplicados.

- Lista con números del 1 al 10

In [2]:
lista_numeros = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print("Lista de números:", lista_numeros)
print("Tipo:", type(lista_numeros))
print()
# Operaciones con la lista
print("Primer número de la lista:", lista_numeros[0])
print("Último número de la lista:", lista_numeros[-1])
print("Números del 3 al 7:", lista_numeros[2:7])

Lista de números: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Tipo: <class 'list'>

También puedes crearla usando range()

In [3]:
lista_numeros_r = list(range(1, 11))
print("Lista de números:", lista_numeros_r)
print("Tipo:", type(lista_numeros_r))
print()

Lista de números: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Tipo: <class 'list'>

- Tupla con los nombres de los 12 meses

In [7]:
meses = (
    "Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio",
    "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"
)

print("Tupla de meses:", meses)
print("Tipo:", type(meses))
print("Número de meses:", len(meses))
print()
print("Primer mes:", meses[0])
print("Meses de verano (Jun-Ago):", meses[5:8])

Tupla de meses: ('Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre')
Tipo: <class 'tuple'>
Número de meses: 12

Primer mes: Enero
Meses de verano (Jun-Ago): ('Junio', 'Julio', 'Agosto')

- Diccionario con nombres de estudiantes y sus notas

In [5]:
notas = {
    "Ana": 8.5,
    "Carlos": 9.2,
    "María": 7.8
}

print("Diccionario de notas:", notas)
print("Tipo:", type(notas))
print("Nota de Ana:", notas["Ana"])
print()
print("Estudiantes:", list(notas.keys()))
print("Todas las notas:", list(notas.values()))

Diccionario de notas: {'Ana': 8.5, 'Carlos': 9.2, 'María': 7.8}
Tipo: <class 'dict'>
Nota de Ana: 8.5

 - Conjunto (con números únicos,sin duplicados)

In [ ]:
numeros_unicos = {1, 2, 3, 4, 5, 3, 2, 8, 9, 1}  # Los duplicados se eliminan automáticamente

print("Conjunto de números únicos:", numeros_unicos)
print("Tipo:", type(numeros_unicos))
print("Cantidad de elementos únicos:", len(numeros_unicos))
print()
print("¿El 5 está en el conjunto?:", 5 in numeros_unicos)
print("¿El 10 está en el conjunto?:", 10 in numeros_unicos)